<section class="create-gallery-container">
  <form name="createGalleryForm"
    novalidate
    class="form-inline"
    ng-submit="createGalleryCtrl.createGallery()">

    <div class="form-group">
      <label for="name"> Name: </label>
      <input name="name"
        type="text"
        uib-tooltip="Name required"
        ng-model="createGalleryCtrl.gallery.name"
        required>
    </div>
    <div class="form-group">
      <label for="desc"> Description: </label>
      <input name="desc"
        type="text"
        uib-tooltip="Description required"
        ng-model="createGalleryCtrl.gallery.desc"
        required>
    </div>

    <button type="submit"> + </button>
    </form>
</section>
