<main class="home">
  <create-gallery> </create-gallery>
  <ul>
    <li ng-repeat="gallery in homeCtrl.galleries">
      <p> Name: {{gallery.name}}</p>
      <p> Description: {{gallery.desc}}</p>
      <p> ID: {{gallery._id}}</p>
      <button ng-click="homeCtrl.deleteGalleries(gallery._id)"> - </button>
      <form
        name="updateForm"
        ng-submit="//call update with gallery._id, updateForm"
        novalidate>
        <input name="name" type="text" placeholder="name">
        <input name="desc" type="text" placeholder="description">
        <button> Update </button>
      </form>
    </li>
  </ul>
</main>
